<p style="color: green"><%= notice %></p>

<%= render @carshopping %>

<div>
  <%= link_to "Edit this carshopping", edit_carshopping_path(@carshopping) %> |
  <%= link_to "Back to carshoppings", carshoppings_path %>

  <%= button_to "Destroy this carshopping", @carshopping, method: :delete %>
</div>
