<%= form_with(model: product, local: true, enctype: "multipart/form-data") do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :img, "Image" %>
    <%= form.file_field :img %>  <!-- Este es el campo de la imagen -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
